.board {
    text-align: center;
    background-color: #121213;
    min-height: 100vh;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.correct {
    background-color: #538d4e;
}

.close {
    background-color: #b59f3b;
}

.incorrect {
    background-color: #3a3a3c;
}

.line {
    display: flex;
    gap: 5px;
}

.solution {
    display: inline;
    cursor: pointer;
}

.tile {
    width: 100px;
    height: 100px;
    border: 1px solid #3a3a3c;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}


